body {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-size: 1rem;
  margin: 3vw 5vw;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 3vw;
  }
}

.divHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  border-radius: 2px;
  width: 90vw;
  height: 15vh;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  margin-top: 0 
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  header {
    width: 90vw;
    height: 10vh;
  }
  
  .header {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {  
  header {
    width: 94vw;
    height: 13vh;
  }
  
  .header {
    font-size: 1.5rem;
  }
}

a {
  color: black;
  text-decoration: none;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin-top: 7.5vh;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .nav-bar {
    margin-top: 5vh;
    margin-bottom: 0;
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 600px) { 
  .nav-bar {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 1.1rem;
  }

  .mobile-hidden {
    display: none;
  }
}

.main-body {
  display: flex;
}

.side-bar {
  width: 20vw;
  border-radius: 2px;
  margin-top: 4.5vh;
  margin-bottom: 5vh;
  margin-right: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
}

h3 {
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {   
  .side-bar {
    width: 25vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  h3 {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 600px) {       
  .side-bar {
    width: 25vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  h3 {
    font-size: 1.1rem;
  }
}
   
.colors-div {
  display: flex;
  flex-direction: row;
}

.input-color {
  width: 2.5vw;
  height: 2.5vw;
  border: 1px solid silver;
  margin-right: 0.5vw;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .input-color {
    width: 3.5vw;
    height: 3.5vw;
  }
}
    
@media only screen and (max-width: 600px) {     
  .input-color {
    width: 3.5vw;
    height: 3.5vw;
  }
}

.main-content{
  width: 80vw;
  margin-top: 5.5vh;
  margin-left: 25vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

.individual-tshirt {
  border: 1px solid silver;
  border-radius: 2px;
  width: 20vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {     
  .main-content{
    width: 75vw;
    margin-top: 6vh;
    margin-left: 30vw;
   }
  
  .individual-tshirt {
    width: 28vw;
  }
}

@media only screen and (max-width: 600px) {
  .input-brand {
    width: 15%;
  }
  
  .main-content{
    width: 60vw;
    margin: 3vh 34vw 0;
   }
  
  .individual-tshirt {
    width: 59vw;
    margin-bottom: 3vh;
  }
}

.container {
  border: 0px solid silver;
  border-radius: 2px;
  width: 20vw;
}

.icons-on-tee {
  visibility: hidden;
}

.icon-on-tee {
  margin: 1vw 2vw;
  color: grey;
}

@media only screen and (min-width: 600px) and (max-width: 992px) { 
  .container {
    width: 28vw;
  }
}

@media only screen and (max-width: 600px) {     
  .container {
    width: 28vw;
  } 

  .icon-on-tee {
    margin: 4vw 2vw 0;
  }
}

.container :hover > .icons-on-tee {
  visibility: visible;
}

.container :hover {
  opacity: 0.8;
}

.picture-tee {
  width: 80%;
  padding: 1vw;
}

@media only screen and (max-width: 600px) { 
  .picture-tee {
    width: 60%;
  }
}

.page-title {
  margin: 7vh 0 3vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.basket-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket-list {
      list-style-type: none;
      margin-right: 3vw;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: left;
      
}

.list-elem {
  display: flex;
  flex-direction: row
}

.name-list-elem {
  width: 15vw;
  margin: 0;
  margin-top: 1vw;
}

.price-list-elem {
  margin: 0;
  margin-top: 1vw;
}

.icon-on-list-elem {
  margin-left: 2vw;
  margin-top: 1vw;
  color: grey;
}

.total-hr {
  width: 15vw;
}

.btn {
  width: 20vw;
  height: 7vh;
  padding: 1vw;
  margin: 2vw;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(73, 72, 72)

}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.icon-footer {
  margin-left: 1vw;
  height: 2vh;
  opacity: 0.7
}